.img{
  position: fixed;
  img{
    max-width: 100%;
    width: 100%;
  }
}

h1{
  margin: 0;
  padding: 20px 0 10px;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $elements;
}

label{
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
  color: $elements;
  font-weight: 800;
}

input {
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: $primary-color;
  color: $elements;
  padding: 0.5rem;
  padding-right: 50%;
  border-radius: 5px;
  border: 1px solid #cccc;

  &[type="submit"] {
    padding: 0.5rem 3rem;
    background-color: $elements;
    color: #fff;
  }

  &::placeholder {
    color: $purple;
    font-weight: lighter;
    font-size: 0.9rem;
  }
}


textarea{
  font-family: Arial, Helvetica, sans-serif;
  color: $elements;
  background-color: $primary-color;
  border: 1px solid #cccc;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 0;
}

.modal{
  width: 800px;
  background-color: $elements;
  position: fixed;
  top: 200px;
  left: 400px;
  display: none;
  border-radius: 5px;
}

.modal-content{
  padding: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color;
  position: relative;

  h3{
    font-size: 1.5rem;
  }

  ul{
    margin: 40px;
  }

  li {
    line-height: 1.5rem;
  }
}

/*CLASES PARA USAR EN JS*/
.filter{
  filter: blur(3px);
}
.display{
  display: block;
}

